
        <!-- Vriable content that we want to show -->
        <h1>
                Codeial / <%= title %>
        </h1>


        <section class="feed-posts">
                <h4>Posts</h4>
                <form action="/posts/create" id="new-post-form" method="POST"> <!-- I am sending the data and making some changes to the databse, as in creating something new -> So this is going to be POST. -->
                        <textarea name="content"  cols="30" rows="3" placeholder="Type here..."></textarea>
                        <input type="submit" value="post">
                </form>

                <!-- WHERE I SHOW THESE POSTS -> in home views -->
                <div id="posts-list-container">
                        <ul>
                                <!-- for loop -->
                                <% for(post of posts) {%> 
                                         <!-- list item for every posts -->
                                        <li>
                                                <%= post.content  %>
                                                <small>
                                                        <%= post.user.name %>
                                                </small>
                                        </li>
                                <%} %>
                        </ul>
                </div>

        </section>
