<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header'); %>

        <!-- Vriable content that we want to show -->
        <h1>Codeial / <%= title %></h1>

        <%- include('_footer'); %>

    </body>
</html>